.flex-container{
    display: flex;
    justify-content: space-between;
}
.flex-container > div{
    background-color: blueviolet;
    width: 120px;
    height: 150px;
    text-align: center;
    font-size: 30px;
    line-height: 75px;
}